<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'design/tnt.css' %}">
</head>
<body>
<div class="container">
    <header>
        <div class="header__left">
            <a href="#" class="left1">Home</a>
            <a href="#" class="left1">My blog</a>
            <a href="#" class="left1">Create Blog</a>
        </div>
        <div class="header__search">
            <form method="GET" >
            <input type="text" name="search"  placeholder="What are you looking for?">
            <button  type="submit">Search Now</button>

        </form>
        </div>
        <div class="header__auth">
            <a href="#" class="login">
                log in
            </a>
            <a href="#" class="logout">
                log out
            </a>
        </div>
    </header>
</div>
<div class="container">
    <div class="lang">
        <a href="#" class="lang1 active">UZB</a>
        <a href="#" class="lang1">ENG</a>
        <a href="#" class="lang1">RUSS</a>
    </div>
    <div class="blogs">
        <div class="row">
            {% for form in forms %}
            <div class="col-4">
                <div class="blog__main">
                    <a href="#" class="img"><img src="/{{form.image}}" alt=""></a>
                    <div class="blog__info">
                        <div class="author">
                            Maqola egasi:
                            <span>  {{form.user}}</span>
                        </div>
                        <div class="text">
                            {{form.content}}
                        </div>
                        <div class="date">maqola vaqti: <span>{{form.created_at}}</span></div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">&raquo;</a>
      </div>
</div>
</body>
</html>>